@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

@theme {
    --color-dark: #0F172A;
    --color-primary: #22D3EE;
    --color-muted: #94A3B8;
    --color-light: #F4F4F4;
}